body{
    width: 600px;
    background-color: #eee;

}

h1{
    font-size: 2.2em;
    font-weight: 600;
    height: 40px;
    background-color: #3cb371;
    padding-left: 10px;
    color: #fff;

}

p{
    font-size: 14px;

}
